DB_URL=
DB_USER=
DB_PASSWORD=

OAUTH2_BASE_URL=
KEYCLOAK_ISSUER_URI=
KEYCLOAK_JWK_SET_URI=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CLIENT_SCOPE=
KEYCLOAK_OAUTH2_AUTHORIZATION_GRANT_TYPE=
KEYCLOAK_OAUTH2_REDIRECT_URI=
KEYCLOAK_OAUTH2_AUTHORIZATION_URI=
KEYCLOAK_OAUTH2_TOKEN_URI=
KEYCLOAK_OAUTH2_JWT_SET_URI=
KEYCLOAK_OAUTH2_USER_INFO_URI=
